<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="CodeStar | Kod paylaşım platformu">
    <title>CodeStar | Kod Paylaşım Platformu</title>
    <link rel = "icon" href = "images/logo.png">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" media="(max-width:500px)" href="css/mobile.css">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/bootstrap.min.css">

</head>
<body>
   
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark text-light sticky-top">
       <a href = "/"> <img height = "50" src="images/logo.png" alt="Logo"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link text-light" href="/">Anasayfa <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link text-light" href="/html">HTML <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link text-light" href="/javascript">JavaScript <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link text-light" href="/python">Python <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link text-light" target = "_blank" href="https://discord.gg/hXQNx7G">Discord Sunucumuz <span class="sr-only">(current)</span></a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <div class="dropdown">
              <% if(!currentUser){ %>
              <a href = "/login" class="btn btn-outline-success mr-1 " type="button" id="loginBtn">
                Giriş Yap
              </a>
              <a href = "/register" class="btn btn-outline-success mr-1 " type="button" id="registerBtn">
                Kayıt Ol
              </a>
              <% } else { %>
                <p href = "#" class="mr-3 d-inline ">
                   <%= currentUser.username %>
                </p>
                <a href = "/shareCodes" class="btn btn-outline-success mr-1 " type="button">
                 Kod Paylaş
                </a>
                <a href = "/logout" class="btn btn-outline-danger mr-1 " type="button">
                  Çıkış Yap
                 </a>
                 <% } %>
              </div>
          </form>
        </div>
      </nav>