<%- include('partials/header') %>
   <section>
       <img class = "main-logo" src="images/logo.png" alt="Logo">
       <h1 style = "color:white;">CodeStar Kod Paylaşım Platformu</h1>
   </section>

   <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="js/bootstrap.bundle.js"></script>
<script src="js/bootstrap.bundle.min.js"></script>
</body>
</html>