<%- include('../partials/header') %>

<center>
    <div style="margin: 100px; width: 500px;">
        <ul class="list-group m-5">
            <li class="list-group-item"><a href="/shareHtml">Html Paylaş</a></li>
            <li class="list-group-item"><a href="/shareJs">JavaScript Paylaş</a></li>
            <li class="list-group-item"><a href = "/sharePy">Python Paylaş</a></li>
        </ul>
    </div>
</center>