<%- include('../partials/header') %>
<section>
    <div class="html-posts">
        <h2 class="text-light">JavaScript (NodeJS) Paylaş</h2>
        <h2 class="text-light for-mobile">JS Paylaş</h2>
    </div><br>
    <form class="shareForm bg-dark" method="POST">
        <div class = " m-3 text-light">
            <div class="form-group">
              <label for="jsHeader">Proje Adı</label>
              <input type="text" class="form-control" name="title" id="jsHeader" required>
            </div>
            <div class="form-group">
              <label for="jsDesc">Proje Açıklaması</label>
             <input type="text" class = "form-control" maxlength="80"  placeholder="max karakter 80 olmalıdır." name="description" id="jsDesc" required>
            </div>
            <div class="form-group">
                <label for="jsCod">JavaScript Kodu</label>
                <textarea type="text" style="height: 195px;" class = "form-control" name="javascript" id="jsCod" required></textarea>
              </div>
              <button class = "btn btn-primary" id = "shareJs">Paylaş</button>
            </div>
          </form>
</section>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="js/bootstrap.bundle.js"></script>
<script src="js/bootstrap.bundle.min.js"></script>
<script>
  $(document).ready(function(){
    $("#shareJs").click(function(){
      const title = $("#jsHeader").val();
      const description = $("#jsDesc").val();
      const javascript = $("#jsCod").val();
      const catgory = "javascript";

      const data = {
        title: title,
        description: description,
        javascript: javascript
      }
      $.post('shareJs', {data: data})
      .then(function(addedCode){
        console.log(addedCode)
      });
    });
  });
</script>
</body>
</html>